<h1>Welcome to auto D3 Maps</h1>
<div class="well">
  <p>The purpose of this app is to make building maps with D3 as easy as possible. All you have to do is type in the country you want and select what kind of map you want. 
    We will then generate the map for you, show it to you and allow you to download the code for further customization</p>
  <h3>Enjoy!</h3>
</div>
<form role="form">
  <div class="form-group">
    <h2>Type in a name of a country</h2>
    <input list="countries" ng-model="selectedCountry" class="form-control input-lg" name="countries" placeholder="Type country name">
    <datalist id="countries" ng-model="selectedCountry">
      <select ng-model='selectedCountry' ng-options='c.value for c in countries track by c.value'></select>
    </datalist>
  </div>
  <!-- <div class="text-center">
    <button type="btn" class="btn btn-default btn-lg" ng-click="getCountrySelected()">Select Country</button>
  </div> -->
</form>
<div class="row">
  <div class="col-md-6">
    <h2>What kind of map do you want?</h2>
    <form role="form">
      <div class="radio">
        <label>
          <input type="radio" name="mapkind" ng-model="mapKind" value="_adm0"> country outline
          <span class="text-muted"> - with 1st level of sub division</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="mapkind" ng-model="mapKind" value="_adm1"> country outline 2
          <span class="text-muted"> - with 1st level of sub division</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="mapkind" ng-model="mapKind" value="_adm2"> country outline <span class="text-muted"> - with 2nd level of sub division</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="mapkind" ng-model="mapKind" value="_adm3"> Inner division of country <span class="text-muted"> - (counties/regions)</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="mapkind" ng-model="mapKind" value="_water_areas_dcw"> Inland water
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="mapkind" ng-model="mapKind" value="_roads"> roads
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="mapkind" ng-model="mapKind" value="_rails"> railroads
        </label>
      </div>
      <!-- <div class="radio">
        <label>
          <input type="radio" name="mapkind" ng-model="mapKind" value="_alt"> elevation
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="mapkind" ng-model="mapKind" value="msk_alt"> elevation <span class="text-muted"> - country mask</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="mapkind" ng-model="mapKind" value="_cov"> land cover
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="mapkind" ng-model="mapKind" value="msk_cov"> land cover <span class="text-muted"> - country mask</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="mapkind" ng-model="mapKind" value="_pop"> population
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="mapkind" ng-model="mapKind" value="msk_pop"> climate
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="mapkind" ng-model="mapKind" value="_wat"> gazetteer
        </label>
      </div> -->
    </form>
  </div>
  <div class="col-md-6">
    <div class="alert alert-danger" ng-show="showError" ng-bind="errorMsg"></div>
    <div class="spinner" ng-show="loading">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
    <map></map>
  </div>
</div>
<div class="text-center">
  <button class="btn btn-primary" ng-click="getCountrySelected()" ng-disabled="fetching">Fetch the map !</button>
</div>
<div class="row" ng-if="!fetching">
  <div class="col-xs-6">
    <h3>index.html</h3>
    <pre>
<code language="html">
&lt;!DOCTYPE html&gt;
&lt;meta charset="utf-8"&gt;
&lt;style&gt;
 .boundary{
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
 }
&lt;/style&gt;
&lt;body&gt;
 &lt;div id="map"&gt;&lt;/div&gt;
 &lt;script src="http://d3js.org/d3.v3.min.js"&gt;&lt;/script&gt;
 &lt;script src=”http://d3js.org/topojson.v1.min.js”&gt;&lt;/script&gt;
 &lt;script&gt;
  var height = 469;
  var width = 750;
  var projection = d3.geo.mercator();
  var path = d3.geo.path().projection(projection);
  var svg = d3.select("#map").append("svg").attr("width", width).attr("height", height);

  d3.json('mapData.json', function(country) {
    
    var b, s, t;
    var countryTopo = topojson.feature(country, country.objects.[typeOfMapv] change);
    projection.scale(1).translate([0, 0]);

    b = path.bounds(countryTopo);
    s = .95 / Math.max((b[1][0] - b[0][0]) / width, (b[1][1] - b[0][1]) / height);
    t = [(width - s * (b[1][0] + b[0][0])) / 2, (height - s * (b[1][1] + b[0][1])) / 2];

    projection.scale(s).translate(t);

    var features = topojson.feature(country, country.objects[typeOfMap]).features;
    svg.append('g')
      .attr('class', 'boundary')
      .selectAll('path')
      .data(features)
      .enter().append('path')
      .attr('d', path);
  });
 &lt;/script&gt;
&lt;/body&gt;
</code>
    </pre>
  </div>
  <div class="col-xs-6">
    <h3>mapData.json</h3>
    <pre>
<code language="javascript">
{{mapData}}
</code>
    </pre>
  </div>
</div>
