$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

// Core variables and mixins
@import "sass-bootstrap/lib/variables";
@import "sass-bootstrap/lib/mixins";

// Reset
@import "sass-bootstrap/lib/normalize";

// Core CSS
@import "sass-bootstrap/lib/scaffolding";
@import "sass-bootstrap/lib/type";
@import "sass-bootstrap/lib/code";
@import "sass-bootstrap/lib/grid";
@import "sass-bootstrap/lib/forms";
@import "sass-bootstrap/lib/buttons";

// Components
@import "sass-bootstrap/lib/component-animations";
@import "sass-bootstrap/lib/labels";
@import "sass-bootstrap/lib/panels";
@import "sass-bootstrap/lib/wells";

// Utility classes
@import "sass-bootstrap/lib/utilities";
@import "sass-bootstrap/lib/responsive-utilities";


body{
  background: url(/images/bg-slide3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	font-family: 'Lato', sans-serif;
	padding-bottom:80px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
  color:#333;
}

label{
  &.disabled{
    opacity:0.2;
    .text-muted{
      opacity:0.2;
    }
  }
}

.noTopMargin{
	margin-top:0;
}

.countryList{
  list-style:none;
  padding:0px;
  border:1px solid;
  border-bottom:0;
  border-top:0;
  li{
    padding:5px 5px 5px 15px;
    border-bottom:1px solid;
  }
}

.btn{
	font-size:1.7em;
	padding:3px 20px;
}

.btn-warning {
	&:disabled{
		opacity: 0;
	}
}

.alert{
	margin-top:15px;
}

map{
	display:block;
}

path{
	fill: none;
  stroke: #000;
  stroke-linejoin: round;
}

pre {
	code {
		font-size: 0.875em;
	}
}

.radio{
  text-transform: capitalize;
  .text-muted{
    display: block;
  }
}


.spinner {
	position: absolute;
  width: 40px;
  height: 40px;
  margin: 100px auto;
  left:50%;
}

.dataBox{
	max-height:815px;
	overflow:scroll;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #0066CC;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
