$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body{
	font-family: 'Lato', sans-serif;
	padding-bottom:80px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.btn{
	font-size:2em;
	padding:6px 30px;
}

.btn-warning {
	&:disabled{
		opacity: 0;
	}
}

.alert{
	margin-top:15px;
}

map{
	display:block;
}

path{
	fill: none;
  stroke: #000;
  stroke-linejoin: round;
}

pre {
	code {
		font-size: 0.875em;
	}
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #0066CC;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
